doctype html
link(href='./css/style.css', rel='stylesheet' inline)
// Interpolation ( Variables )
- const name = "LaRedoute";  

html 
	head
		title PUG
	body

		include ../../includes/header
		
		.hero-banner-table.email-container
			tr
				td
					a(href='http://www.laredoute.co.uk/pplp/100/68262/cat-150427.aspx')
						img(src='img/hero.jpg' alt="Linen Trend - Shop The Trend")
							
		include ../../includes/footer
