include ../views/mixins.pug
include ../views/components/head.pug
//- START HEADER
tr
	td(bgcolor="#ffffff" align="center" valign="top")
		table.max-width(width="600" cellpadding="0" cellspacing="0" align="center")
			tr
				td.max-width.text-right(width="300")
					table(cellpadding="0" cellspacing="0" align="left")
						tr
							td
								+image(23,23,'images/icon-facebook.jpg')
							td(width="15")
							td
								+image(23,23,'images/icon-twitter.jpg')
							td(width="15")
							td
								+image(23,23,'images/icon-instagram.jpg')
				td.max-width.text-right
					table(width="193" cellpadding="0" cellspacing="0" align="right")
						tr
							td
								img(src="images/logo.jpg" alt="Logo")
//- END HEADER
tr
	td(bgcolor="#ffffff" align="center" valign="top")
		table.max-width(width="600" cellpadding="0" cellspacing="0" align="center")
			tr
				td
					+one-column(
						'500',
						'Footer Stuff here!'
					)
					+two-column(
						'500',
						'Hello There asd',
						'This is Content'
					)
include ../views/components/foot.pug