doctype html
link(href='./css/style.css', rel='stylesheet')
// Interpolation ( Variables )
- const name = "LaRedoute";  

html
    head
        title PUG
    body
        h1 #{name} 
         
        table#table-container
            tr
                td
                    center
                        table.email-container
                            tr
                                td
                                    table.email-container
                                        tr 
                                            td.strapline
                                                p asd
                            tr
                                td.header-logo
                                    img(src='http://www.gannett-cdn.com/-mm-/a2cca696a29f710999f3219ff3a8d8ee8610d38c/c=563-98-2252-1368&r=x404&c=534x401/local/-/media/2015/09/29/USATODAY/USATODAY/635791369610950496-USP-NFL-NEW-ENGLAND-PATRIOTS-AT-BUFFALO-BILLS-76090406.JPG')
                            
                                            
          
