body[yahoo], html, body {
	margin: 0px!important;
	padding: 0px!important;
	-webkit-text-size-adjust: none!important;
	-ms-text-size-adjust: none!important;
	line-height: 100%!important;
}

body[yahoo] {

	table {
		border-spacing: 0px!important;
		border-collapse: collapse!important;

		td {
			border-collapse: collapse!important;
		}
	}
	
	img {
		display: block!important;
	}
	
	.text-center {
		text-align: center!important;
	}
	.text-left {
			text-align: left!important;
	}
	.text-right {
			text-align: right!important;
	}

	.max-width {
		max-width: 600px;
	}
	@media screen and (max-width: 480px) {
		
		td {
				background-image: none!important;
		}

		.max-width {
				max-width: 300px!important;
				width: 300px!important;
		}

		.full-width {
				width: 100%!important;
				height: auto!important;
				display: block!important;
		}

		.imageresize {
				width: 300px!important;
				height: auto!important;
		}
		.imageresize260 {
				width: 260px!important;
				height: auto!important;
		}
	}
}
