table.email-container
	tr
		td
			table.email-container
				tr
					td.strapline
						strong PLACEHOLDER
					td
						a(href='#') View email online &gt;
				tr
					td.header-logo
						a(href='http://www.laredoute.co.uk/')
							img(src='https://s3-eu-west-1.amazonaws.com/hub-mdp/emails/la-redoute_emails/J206_v1/dist/img/general_la-redoute-logo.jpg'  width="189" height="61" alt="La Redoute" border="0")
				tr
					td(width="100%"  align="center" style='border-bottom:1px solid black; border-top:1px solid black;')
						table#header-menu
							tr
								td.menu-link
									a(href='http://www.laredoute.co.uk/pplp/100/cat-201.aspx') WOMEN
								td.menu-link
									a(href='http://www.laredoute.co.uk/pplp/100/cat-201.aspx') MEN
								td.menu-link
									a(href='http://www.laredoute.co.uk/pplp/100/cat-201.aspx') KIDS
								td.menu-link
									a(href='http://www.laredoute.co.uk/pplp/100/cat-201.aspx') HOME
								td.menu-link
									a(href='http://www.laredoute.co.uk/pplp/100/cat-201.aspx') BRANDS
								td.menu-link
									a(href='http://www.laredoute.co.uk/pplp/100/cat-201.aspx') SALE
