/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 0; // For consistent padding
$grey: #FFFFFF; // Background color
$width: 600px; // Width of the content area
$primary-color: #000000; // Primary color for buttons and links

/* PRIMARY COLOURS
========================================================================== */


/* SECONDARY COLOURS
========================================================================== */

$black:    #000000;
$white:    #FFFFFF; 
