</td>
</tr>
tr
	td
		//- START - FOOTER
		table.max-width(width="600" cellpadding="0" cellspacing="0" align="center")
			tr(style="border-top:1px solid black;")
				td.full-width &copy; Copyright 2018 Jamie Throup
				td.full-width.text-right
					img(src="images/logo.jpg" alt="Logo")
		//- END - FOOTER
</table>
</body> 