link(href="../../css/scss/non-responsive_email.css"  rel="stylesheet" type="text/css")
<table id="table-container">
    <tr>
        <td>
            <center>
                table.email-container
                    tr
                        td
                             table.email-container
                                tr
                                    td.strapline
                                        strong Header strapline
                                    td(valign="top" align="right" style="padding: 20px 10px; color: #0c0c0c; text-align: right; font-family: arial,helvetica,sans-serif; font-size: 10px; vertical-align: middle;")
                                        a(style="text-decoration: underline; color: #000000; font-family: arial,helvetica,sans-serif; font-weight: normal;" target="_blank" href="#" _label="Mirror Page" _type="mirrorPage" title="Click here to view in browser") View email online &gt;
                    tr
                        td.header-logo
                            a(href="#")
                                img(src="logo.jpeg" width="189" height="61" alt="#" border="0")
